:root {
    --first-color: #c9916b;
    --second-color:#ffffff;
    --third--color:#d6dad8;
    --background-color:#2d453b;
}

body {
    width: 100vw;
    height: 200vh;
    margin: 0;
    font-family: 'Comfortaa', cursive;
    line-height: 3vh;
}
h4{
    margin-top: 0;
}

.header {
    width: 95vw;
    height: 45vh;
    display: flex;
    flex-direction: row;
    background-image: url(Image/backgroundshape.png), url(Image/background.png);
    background-position: top;
    background-size: 30vw 30vh, cover;
    background-repeat: no-repeat;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 5vw;

}

.header__imageholder {
    display: flex;
    width: 65vw;
    height: 45vh;
    justify-content: right;
    align-self: end;
    margin-left: -20vw;
}

.header__imageholder__image {
    width: 100%;
    align-self: end;
}

.header__text {
    align-self: center;
    color: var(--first-color);
    font-size: 5.5vw;
    font-weight: bold;
    width: 60vw;
    font-family: 'Comfortaa', cursive;
    /*margin-right: -100px;*/
}

.header__buttonHolder__button {
    font-size: 3vw;
    color: var(--second-color);
    padding: 5px 20px;
    border-color: var(--second-color);
    border-style: solid;
    border-radius: 25px;
    border-width: 2px;
}

.header__buttonHolder {
    margin-top: 2vh;
}


.secondpart__image {
    height: 50vh;
    width: 100vw;
}

.secondpart__circledtextHolder {
    display: flex;
    justify-content: center;
}

.secondpart__circledtextHolder__image {
    width: 70vw;
}

.secondpart--margin {
    margin: 5vh 8vw;
}

.secondpart__text {
    font-size: 3.5vw;
    font-weight: 700;
    /*font-weight: bold;*/
}

.secondpart__title {
    font-size: 3vw;
    color: gray;
}

.secondpart__button {
    font-size: 3.5vw;
    color: var(--second-color);
    padding: 3.5vw 5.5vh;
    border-radius: 44vw;
    font-weight: bold;
    background-color: var(--first-color);
}

.secondpart__4Image {
    margin-top: 30vh;
}

.secondpart__4Image img{
    width: 45vw;
}

.secondpart__4Image div {
    margin-top: 4vh;
    font-size: 3vw;
}

.secondpart__4Image p {
    color: var(--first-color);
    font-weight: bold;
}

.belowSlider__seperator{
    background-color: var(--first-color);
    height: 7vh;
    color: var(--second-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
}
.belowSlider__imageHolder{
    height: 50vh;
}
.belowSlider img {
    height: 50vh;
    width: 100vw;
    /*transform: scale(1.2);*/
}
.belowSlider__text{
    padding: 5vh 8vw;
    height: 35vh;
    background-color: var(--background-color);
    color: var(--second-color);
    font-size: 5vw;
    line-height: 5vh;
    font-weight: bold;
}
.belowSlider p {
    font-weight: normal;
    font-size: 4vw;

}

