.maincontainer {
    width:100vw;
    height: 200vh;
    margin: 0;
    font-family: 'Comfortaa', cursive;


}

.header{
    width: 95vw;
    height: 35vh;
    display: flex;
    background-image: url("Image/backgroundshape.png"),url("Image/background.png");
    background-position: top ;
    background-size: 30vw 30vh , cover;
    background-repeat: no-repeat;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 5vw;

}
.header__imageholder{
    display: flex;
    width: 60vw;
    height: 35vh;
    justify-content: right;
    align-self: end;
    margin-left: -20vw;
}
.header__imageholder__image{
    width: 100%;

}

.header__text {
    align-self:center ;
    color:#c9916b;
    font-size:5.5vw;
    font-weight: bold;
    width: 60vw;
    font-family: 'Comfortaa', cursive;
    /*margin-right: -100px;*/
}

.header__buttonHolder__button {
    font-size: 3vw;
    color: white;
    padding: 5px 20px ;
    border-color: white;
    border-style: solid;
    border-radius: 25px;
    border-width: 2px;
}
.header__buttonHolder{
    margin-top: 2vh;
}

.secondpart{
    /*margin: 3vh  4vw ;*/

}
.secondpart__image{
    height: 50vh;
    width: 100vw;
}
.secondpart__circledtextHolder{
    display: flex;
    justify-content: center;
}
.secondpart__circledtextHolder__image{
    width: 70vw;
}
.secondpart--margin{
    margin: 5vh 8vw;
}
.secondpart__Text{
    font-size: 4vw;
    font-weight: 700;
    /*font-weight: bold;*/
    line-height: 3vh;
}
.secondpart__button{
    font-size: 3.5vw;
    color: white;
    padding: 10px 30px ;
    border-radius: 25px;
    font-weight: bold;
    background-color: #c9916b;

}


