:root {
    --first-color: #c9916b;
    --second-color:#ffffff;
    --third--color:#d6dad8;
    --background-color:#2d453b;
}

body{
    font-family: Arial;
}
h1{
    color: white;
    font-size: 1.5rem;
}
.hamburger--menu{
    width: 30px;
    height: 30px;
}
.hamburger--menu span{
    display: block;
    width: 30px;
    height: 5px;
    background-color: var(--first-color);
    margin: 5px 0;
    border-radius: 10px;
}

header{
    padding: 15px 20px;
    background-color: var(--background-color);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    margin: 0;
}
.main--nav , #hamburger--links {
     display: none;
     list-style-type: none;
 }

#hamburger--links{
    background-color:var(--background-color);
    padding: 3vw 2vh;
    display: block;
    opacity: 0;
    transition: all .4s;
    line-height: 8vh;

    /*height: 20%;*/
}
#hamburger--links ul li {
    margin-top: 30px;
}

.main--nav a , #hamburger--links a {
    text-decoration: none;
    padding: 5px 10px;
    /*padding-left: 40px;*/
    color: white;
    font-weight: 700;
    transition: all .1s ease-in;
    justify-self: center;
}
.hamburger--holder{


}



.main--nav a:hover , #hamburger--links a:hover{
    /*background-color: gray;*/
    color: var(--first-color);
}


@media (min-width: 809px ) {
    .hamburger--holder{
        display: flex;
        justify-content: end;
        align-items: start;
    }
    #hamburger--links{
        padding-right: 100px;
    }
    /*#hamburger--links li {*/
    /*    display: none;*/
    /*    padding: 0;*/
    /*}*/


}
@media (min-width: 1230px) {
    .hamburger--menu{
        display: none;
    }
    .main--nav{
        display: flex;
    }
    #hamburger--links {
        padding: 0;
        opacity: 0;
        height: 0;
    }
    #hamburger--links li {
        display: none;
    }



}


