:root {
    --first-color: #c9916b;
    --second-color:#ffffff;
    --third--color:#d6dad8;
    --background-color:#2d453b;
}

body{
    font-family: Arial;
}
h1{
    color: white;
    font-size: 1.5rem;
}
.hamburger-menu{
    width: 30px;
    height: 30px;
}
.hamburger-menu span{
    display: block;
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px 0;
    border-radius: 10px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
    background-color: var(--background-color);
}
.main-nav{
     display: none;
    list-style-type: none;
 }
.main-nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    font-weight: 700;
    transition: all .1s ease-in;
}

.main-nav a:hover{
    /*background-color: gray;*/
    color: var(--first-color);
}

@media (min-width: 770px) {
    .hamburger-menu{
        display: none;
    }
    .main-nav{
        display: flex;
    }



}


